{% extends 'base.html' %} {%block content%}
<!-- component -->

     <!-- Main Section -->
       <!-- Main Section -->
       <section class="flex flex-col-reverse mb-32 md:flex-row md:justify-center md:items-center h-screen">
        <div class="showcase-left my-8 mx-4 text-center md:text-left md:w-1/2">
            <h1 class="font-extrabold text-center text-3xl md:text-4xl my-8">
                Participez à un tirage de <span class="font-bold text-orange-500">Qualité</span>
            </h1>
            <div class="flex justify-center items-center">
            <p class="font-lg text-xl my-8">
                Et gagnez jusqu'à <br/>   
                 <span class="font-bold">3.000.000 €</span>
            </p>
        </div>      
            <div class="flex flex-col md:flex-row md:justify-start md:items-center">
                <button class="bg-orange-500 p-3 rounded-lg text-white text-base md:p-3 ml-4 mw-80 hover:bg-orange-600">
                    Rejoignez-nous et gagnez gros !
                </button>
            </div>
        </div>
    
        <div class="showcase-right cover my-8 md:w-1/2 h-full relative">
            <img src="../static/assets/bleu-landingpage.jpg" alt="illustration-1" class="h-full w-full object-cover" />
            <div class="absolute inset-0 bg-black opacity-50"></div>

        </div>
    </section>
    
    <section class="flex flex-col-reverse lg:flex-row lg:items-center lg:justify-start p-5 mt-32 bg-white">
      <div class="page-left my-16 md:py-8 md:mx-4 lg:w-1/2">
          <div class="stay-productive">
              <h2 class="text-center md:text-left md:text-4xl text-orange-500 text-2xl font-bold my-8">
                Conditions d'un tirage
           </h2>
           
              <div
                  class="flex items-center justify-center w-3/6 mx-auto my-16 border-b-2 border-cyan-500 md:items-start md:justify-start md:mx-0 md:w-3/12 lg:w-2/6">
                  <a class="text-center md:text-left text-cyan-500 text-base mr-2" href="#">Voir la liste des tirages
                  </a>

                  <img src="../static/assets/undraw_Terms_re_6ak4.png" alt="icon-arrow" class="w-4" />
              </div>
              <p class="my-4 text-xl text-gray-600">
                Participez dès maintenant en choisissant le pseudo de votre choix ou testez notre système en simulant un tirage !

                Le tirage se déroule ainsi :
                
                Nombre de participants : déterminé aléatoirement à chaque tirage.
                Ajout de nouveaux joueurs : vous pouvez ajouter ou créer de nouveaux joueurs pour chaque tirage.
                Participation au tirage : vous décidez si les joueurs participent ou non à ce tirage, selon vos préférences.
              </p>
             
          </div>

             
          </div>
      </div>

      <div class="page-right lg:w-1/2">
        <img src="../static/assets/undraw_Terms_re_6ak4.png" alt="icon-arrow" class="w-full" />
    </div>
  </section>

{% endblock %}
