{% extends 'base.html' %} {% block content %}

<div
  class="mt-36 mx-auto bg-white border border-white p-10 shadow-lg rounded-lg min-h-[750px] w-[530px] z-10"
>
  <h1 class="text-4xl font-bold text-gray-800">Se connecter</h1>

  <div class="absolute text-gray-800">
    <p class="mt-6">
      Nouvel utilisateur ?
      <a href="{% url 'register' %}" class="text-blue-600 hover:text-blue-800"
        >Créer un compte</a
      >
    </p>
  </div>

  <form id="login" action="{% url 'login' %}" method="post" class="mt-20">
    {% csrf_token %}
    <label for="username" class="block text-lg font-bold mb-2">Pseudo</label>
    <input
      type="text"
      name="username"
      id="username"
      class="w-full p-2.5 bg-gray-50 border-t-0 border-l-0 border-r-0 border-b-gray-300 text-gray-900 text-sm focus:border-b-orange-400 focus:border-t-0 focus:border-l-0 focus:border-r-0 focus:ring-0"
      required
    />
    {% if error %}
    <div class="error" style="color: red;">{{ error }}</div>
    {% endif %}
    <button
      type="submit"
      class="block w-full mt-14 p-2 bg-[#1d2b41] text-white rounded-lg hover:bg-[#34445e] focus:ring-4 focus:ring-blue-300"
    >
      Se connecter
    </button>

    <div class="relative mt-20">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center text-sm">
      </div>
    </div>
  </form>

  <div class="flex justify-center mt-12">
    
  </div>
</div>

<script>
  var body = document.querySelector("body");
  var imageUrl = "https://picsum.photos/1300/900/?blur" + Date.now();
  body.style.backgroundImage = "url('" + imageUrl + "')";
  body.style.backgroundSize = "cover";
</script>

{% endblock %}
