{% extends 'base.html' %} {% block content %}

<div
  class="mt-36 mx-auto bg-white border border-white p-10 shadow-lg rounded-lg min-h-[750px] w-[530px] z-10"
>
  <h1 class="text-4xl font-bold text-gray-800">Rejoignez-nous</h1>

  <div class="absolute text-gray-800">
    <p class="mt-6">
      Utilisateur existant ?<a
        href="{% url 'login' %}"
        class="text-blue-600 hover:text-blue-800"
      >
        Connectez-vous</a
      >
    </p>
  </div>

  <form id="register" action="{% url 'register' %}" method="post" class="mt-20">
    {% csrf_token %}

    <div class="block text-lg font-bold mb-2">
      {{ form.username.label_tag }}
    </div>
    <div
      class="w-full p-2.5 bg-gray-50 border-b-2 border-gray-300 text-gray-900 text-sm focus:border-b-orange-400 focus:ring-0"
    >
      {{ form.username }}
    </div>
    {% if form.username.errors %}
    <div class="text-red-500 text-sm mt-1">{{ form.username.errors }}</div>
    {% endif %}

    <!-- Repeat the above pattern for other fields (email, password1, password2) -->

    <button
      type="submit"
      id="register-submit"
      class="block w-full mt-14 p-2 bg-[#1d2b41] text-white rounded-lg hover:bg-[#34445e] focus:ring-4 focus:ring-blue-300"
    >
      S'inscrire
    </button>

    <div class="relative mt-20">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center text-sm">
        <span class="bg-white px-2 text-gray-500">Ou</span>
      </div>
    </div>
  </form>

  <div class="flex justify-center mt-12">
    <button
      class="flex text-center items-center bg-white border border-gray-300 rounded-lg shadow-md px-6 py-2 text-sm font-medium text-gray-800 hover:bg-gray-200 focus:ring-2 focus:ring-gray-500"
    >
      <svg
        fill="#c4c4c4"
        width="64px"
        height="40px"
        viewBox="-100 -100 1200.00 1200.00"
        xmlns="http://www.w3.org/2000/svg"
        stroke="#c4c4c4"
        transform="matrix(1, 0, 0, 1, 0, 0)rotate(0)"
        stroke-width="0.01"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke="#CCCCCC"
          stroke-width="6"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M738 756q-45-77-131-205-6-8-14-15-2-2-1.5-4.5t2.5-3.5q60-29 97-83 40-58 40-124 0-63-31-116t-84-84-116-31-116 31-84 84-31 116q0 66 40 124 37 54 97 83 2 1 2.5 3.5T407 536q-8 7-14 15-88 130-131 205-18 32-18 52 0 27 34.5 50.5t93 37.5T500 910t128.5-14 93-37.5T756 808q0-21-18-52z"
          ></path>
        </g>
      </svg>
      <span class="text-center">Continuer en mode invité</span>
    </button>
  </div>
</div>

<script>
  var body = document.querySelector("body");
  var imageUrl = "https://picsum.photos/1300/900/?blur" + Date.now();
  body.style.backgroundImage = "url('" + imageUrl + "')";
  body.style.backgroundSize = "cover";
</script>

{% endblock %}
