{% extends 'base.html' %} {% block content %}
<h1>Simuler un tirage</h1>

<!-- Formulaire de simulation -->
<form method="POST">
  {% csrf_token %}
  <label for="winning_numbers"
    >Numéros gagnants (séparés par des virgules)</label
  >
  <input
    type="text"
    id="winning_numbers"
    name="winning_main_numbers"
    placeholder="ex: 1, 5, 12, 20, 35, 48"
  />

  <label for="bonus_numbers">Numéros bonus</label>
  <input
    type="text"
    id="bonus_numbers"
    name="winning_bonus_numbers"
    placeholder="ex: 2, 8"
  />

  <input type="submit" value="Simuler le tirage" />
</form>
{% endblock %}
